{% extends 'common/base.html' %}
{% block content %}
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'members/style.css' %}" />

  {% if form.errors %}
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          showToast('Wystąpił błąd, spróbuj ponownie.', 'warning');
      });
  </script>
  {% endif %}

  <div class="d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="card shadow p-4" style="max-width: 430px; width: 100%;">
      <div class="text-center mb-4">
        <h3 class="mb-0">Zmiana hasła</h3>
      </div>

      <form method="post" autocomplete="off">
        {% csrf_token %}

        <div class="mb-3">
          <label for="id_old_password" class="form-label">Stare hasło</label>
          <input type="password" name="old_password" autofocus required class="form-control{% if form.old_password.errors %} is-invalid{% endif %}" id="id_old_password" placeholder="Stare hasło">
          {% if form.old_password.errors %}
          <div class="invalid-feedback">
              {{ form.old_password.errors|striptags }}
          </div>
          {% endif %}
        </div>

        <div class="mb-3">
          <label for="id_new_password1" class="form-label">Nowe hasło</label>
          <input type="password" name="new_password1" required class="form-control{% if form.new_password1.errors %} is-invalid{% endif %}" id="id_new_password1" placeholder="Nowe hasło">
          {% if form.new_password1.errors %}
          <div class="invalid-feedback">
              {{ form.new_password1.errors|striptags }}
          </div>
          {% endif %}
        </div>

        <div class="mb-3">
          <label for="id_new_password2" class="form-label">Powtórz nowe hasło</label>
          <input type="password" name="new_password2" required class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}" id="id_new_password2" placeholder="Nowe hasło">
          {% if form.new_password2.errors %}
          <div class="invalid-feedback">
              {{ form.new_password2.errors|striptags }}
          </div>
          {% endif %}
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-dark btn-block">Zmień hasło</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
